<!DOCTYPE html>
<html>
<head>
    <meta property="og:title" content="corefiles.myJoomla.io - The most respected mirror for all Joomla Releases"/>
    <meta property="og:description"
          content="The most respected mirror for all Joomla Releases, a free service from myJoomla which is a subscription service to learn best practice, secure, monitor and upgrade your Joomla sites yourself - also Fix Hacked Sites quickly and easily!"/>
    <meta property="og:image" content="https://myjoomla.com/logos/1200x630.png"/>
    <meta property="og:url" content="https://corefiles.myJoomla.io"/>
    <meta property="og:site_name" content="myJoomla.com"/>
    <meta property="fb:admins" content="939286469479372"/>
    <meta property="fb:app_id" content="1942445516021744"/>
    <meta property="og:type" content="product"/>
    <meta itemprop="name" content="mirror.myJoomla.io - The most respected mirror for all Joomla Releases"/>
    <meta itemprop="description"
          content="The most respected mirror for all Joomla Releases, a free service from myJoomla which is a subscription service to learn best practice, secure, monitor and upgrade your Joomla sites yourself - also Fix Hacked Sites quickly and easily!"/>
    <meta itemprop="image" content="https://myjoomlacdn.myjoomla.com/img/icons/MJ-PNG-Twitter-400px.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="corefiles.myJoomla.io - The most respected mirror for all Joomla Releases"/>
    <meta name="twitter:description"
          content="The most respected mirror for all Joomla Releases, a free service from myJoomla which is a subscription service to learn best practice, secure, monitor and upgrade your Joomla sites yourself - also Fix Hacked Sites quickly and easily!"/>
    <meta name="twitter:site" content="@securejoomla"/>
    <meta name="twitter:creator" content="@securejoomla"/>
    <meta name="twitter:image:src" content="https://myjoomlacdn.myjoomla.com/logos/MJ-PNG-Twitter-400px.png"/>
    <meta name="twitter:image:alt" content="corefiles.myJoomla.io - The most respected mirror for all Joomla Releases"/>
    <meta name="twitter:image" content="https://myjoomlacdn.myjoomla.com/logos/MJ-PNG-Twitter-400px.png"/>
    <meta name="product:availability" content="Online!"/>
    <meta name="product:price:currency" content="GBP"/>
    <meta name="product:brand" content="myJoomla.com"/>


    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="Joomla Mirror, Download Joomla">

    <title>Complete Historical Joomla/Wordpress Core Files</title>

    <meta name="theme-color" content="#ffffff">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>
</head>
<body>
<main role="main" class="container">
    <h1 class="mt-5 mb-5 text-center">Complete Historical Joomla/Wordpress Core Files</h1>
    <div class="mt-5 mb-5 text-center alert alert-primary" role="alert"><strong>This is not an official Joomla or
            Wordpress resource, but it
            is a well respected, community resource provided by Phil Taylor of myJoomla.com</strong></div>
    <p class="lead">This FREE service contains a COMPLETE resource of every Joomla & Wordpress stable release ever, each
        file's contents are available from a direct url.</p>

    <p><strong>Note ONLY the stable releases are here, not RC or Betas</strong></p>


    <p>The basic format is /{format}/{platform}/{version}/{file_or_folder_path}</p>
    <pre>
         - Format:  raw, pretty, auto, stat, pre
         - Platform:  joomla, wordpress
         - Version:  SEMVER version E.g 3.8.12
         - file_or_folder_path:  E.g  administrator/index.php or index.php
    </pre>


    </p>
    <hr/>
    <h3>Some example urls:</h3>
    <p>
    <ul>
        <li><a href="/pretty/joomla/3.4.8/administrator/index.php">Pretty, Joomla 3.4.8 /administrator/index.php</a>
        </li>
        <li><a href="/raw/joomla/3.4.8/administrator/index.php">Raw, Joomla 3.4.8 /administrator/index.php</a></li>
        <li><a href="/pre/joomla/3.4.8/administrator/index.php">Pre, Joomla 3.4.8 /administrator/index.php</a></li>
        <li><a href="/stat/joomla/3.4.8/administrator/index.php">Stats, Joomla 3.4.8 /administrator/index.php</a></li>
        <li style="list-style: none">----</li>
        <li><a href="/pretty/wordpress/3.9.1/wp-admin/index.php">Pretty, Wordpress 3.9.1 /wp-admin/index.php</a></li>
        <li><a href="/raw/wordpress/3.9.1/wp-admin/index.php">Raw, Wordpress 3.9.1 /wp-admin/index.php</a></li>
        <li><a href="/pre/wordpress/3.9.1/wp-admin/index.php">Pre, Wordpress 3.9.1 /wp-admin/index.php</a></li>
        <li><a href="/stat/wordpress/3.9.1/wp-admin/index.php">Stats, Wordpress 3.9.1 /wp-admin/index.php</a></li>
        <li style="list-style: none">----</li>
        <li><a href="/hashes/joomla/3.8.12">Hashes, gzipped, Joomla 3.8.12</a></li>
        <li><a href="/hashes/joomla/3.8.12/plain">Hashes, plain, Joomla 3.8.12</a></li>
        <li><a href="/hashes/wordpress/3.9.1">Hashes, gzipped, Wordpress 3.9.1</a></li>
        <li><a href="/hashes/wordpress/3.9.1/plain">Hashes, plain, Wordpress 3.9.1</a></li>
        <li style="list-style: none">----</li>
        <li>
            <a href="/folder/joomla/1.6.0/components/com_contact/">List a folder and all below it</a>
        </li>
    </ul>
    </p>

    <hr/>
    <h4>Roll your own service like this!</h4>
    <p>Coming soon this service will be available as a Docker instance. </p>
    <hr/>
    <h4>Contribute to project or Donate!</h4>
    <p>Contributions and PayPal payments to phil@phil-taylor.com please</p>

</main>
<footer class="footer">
    <div class="container">
        <span class="text-muted">&copy <a href="https://www.phil-taylor.com/">Blue Flame Digital Solutions</a> / <a
                    href="https://myJoomla.com ">myJoomla.com</a>  </span>
    </div>
</footer>
<script>!function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
        }
    }(document, 'script', 'twitter-wjs');
    window.__lc = window.__lc || {};
    window.__lc.license = 5560341;
    (function () {
        var lc = document.createElement('script');
        lc.type = 'text/javascript';
        lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(lc, s);
    })();
</script>
<!-- End of LiveChat code -->

<style>
    /* Sticky footer styles
-------------------------------------------------- */
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 60px; /* Margin bottom by footer height */
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 60px; /* Set the fixed height of the footer here */
        line-height: 60px; /* Vertically center the text there */
        background-color: #f5f5f5;
        text-align: center;
    }

    /* Custom page CSS
    -------------------------------------------------- */
    /* Not required for template or sticky footer method. */

    .container {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
    }
</style>
</body>
</html>


